[build]
  publish = "public/"
  command = "npm run build"

[build.environment]
  NODE_VERSION = "20"
  NODE_ENV = "production"

[[plugins]]
  # Installs the Lighthouse Build Plugin for all deploy contexts
  package = "@netlify/plugin-lighthouse"


[[plugins]]
  package = "netlify-plugin-cache"

  [plugins.inputs]
  paths = [
    "public/assets/images",
    ".cache"
  ]