<footer class="py-24 ~px-4/8">
    <div class="container m-auto flex justify-center">
        <p class="text-neutral-black text-lg">&copy; 2025 Designed and Developed with heart by Coalmarketing</p>
    </div>
</footer>