{% extends "layouts/base.njk" %}

{% block body %}
<section class="py-24 ~px-4/8">
  <div class="container m-auto">
    <h1 class="text-3xl font-bold mb-8">{{ cat.name }}</h1>
    {% set categoryProducts = collections.products | categoryProducts(cat.name) %}
    
    {% if categoryProducts | length > 0 %}
      <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3">
        {% for p in categoryProducts %}
          {% include "components/product-card.njk" %}
        {% endfor %}
      </div>
    {% else %}
      <div class="text-center py-12">
        <p class="text-xl text-gray-600">V této kategorii zatím nejsou žádné produkty.</p>
      </div>
    {% endif %}
  </div>
</section>
{% endblock %}